@import "semantic-ui";


.sign-up {
  background: rgb(55, 100, 151)!important;
}

.chatbox {
  height:400px;
}

.w-color {
  color:rgb(55, 100, 151)!important;
}

::placeholder {
  color:rgba(0, 0, 0, 0.466)!important;
}

#messages {
  height:100px;
  overflow: auto;
}

.coloring {
  background: rgb(234, 236, 238)!important;
}

.spacing {
  margin-left: 10px!important;

}